@charset "utf-8";
html,body,.wrapper{height:100%;overflow:hidden;}
body{background:#f8f8f8;color:#666;font:14px/1.5 arial,tahoma;}
body,p,dl,dt,dd,ul,ol,hr{margin:0;}
h1,h2,h3,h4{margin:0;font-size:100%;font-weight:400;}
ul,ol{padding:0;list-style:none;}
a{color:#333;text-decoration:none;}
input,button,textarea,select{font-size:100%;border:none;outline:none;resize:none;}
input[readonly]{background-color:#eee;}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0;text-align:left;}
th{text-align:left;}
address,cite,dfn,em,i,strong{font-style:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
::-ms-clear,::-ms-reveal{display:none;}

/* button */
.ubtn{display:inline-block;min-width:80px;line-height:30px;padding:0 8px;text-align:center;cursor:pointer;border:0;white-space:nowrap;}
.ubtn:hover{opacity:.9;filter:alpha(opacity=90);box-shadow:inset 0 0 100px rgba(0,0,0,0.2);}
.ubtn-primary{background-color:#4f90d4;color:#fff;}
.ubtn-blue{background-color:#0c6ad0;color:#fff;}
.ubtn-gray{background:#bfbfbf;color:#fff;}
.ubtn-cyan{background-color:#1abc9c;color:#fff;}
.ubtn-del{background:none;color:#007eff;border:0;}
.ubtn-del:hover{background-color:#f8503f;color:#fff;opacity:1;filter:alpha(opacity=100);box-shadow:none;}
.ubtn-link{background:none;color:#007eff;border:0;}
.ubtn-link:hover{background-color:#1abc9c;color:#fff;opacity:1;filter:alpha(opacity=100);box-shadow:none;}
.ubtn:disabled{opacity:1;box-shadow:none;cursor:not-allowed;}

/* link */
.c-red{color:#d74141;}
.c-red:hover{color:#c13a3a;}
.c-blue{color:#1869ff;}
.c-blue:hover{color:#155ee5;}
.c-gray{color:#999;}
.link{color:#00cccb;}
.link:hover{text-decoration:underline;}

/* ico */
.ico{display:inline-block;width:20px;height:30px;background:url(../images/ico.png) no-repeat;}
.ico-user{background-position:0 2px;width:30px;}
.ico-home{background-position:-122px 2px;}
.ico-notice{background-position:-150px 2px;}
.ico-edit{background-position:-38px 2px;}
.ico-lock{background-position:-66px 2px;}
.ico-logout{background-position:-93px 2px;}
.ico-right{background-position:-226px 2px;}
.ico-close{background-position:-247px 2px;width:22px;cursor:pointer;}

/* border-radius */
.ipt,.slt,.ubtn,.box, .crumbs, .message{border-radius:3px;}

/* checkbox */
.cbx, .cbx-disabeld{display:inline-block;width:14px;height:14px;background:url(../images/ico.png) no-repeat -286px -1px;}
.cbx-disabeld{cursor:not-allowed;background-position:-286px -38px;}
.cbx-on{background-position:-286px -19px;}

.slt, .ipt, .filter .group{
	-moz-box-sizing: border-box;  
 -webkit-box-sizing: border-box; 
      -o-box-sizing: border-box; 
     -ms-box-sizing: border-box; 
     	 box-sizing: border-box;
}

/* layout */
.fr{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.hide{display:none;}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.slt,.ipt{height:30px;line-height:24px;padding:2px 7px;border:1px solid #ddd;font-size:14px;}
.ipt:focus{border-color:#4f90d4;box-shadow:0 0 3px rgba(0,204,203,.3);}
.ipt:disabled{background:#ededed;color:#999;}
.nav, .header{min-width:1200px;}
.wrapper{position:relative;min-width:1200px;}
.content{position:absolute;top:120px;left:230px;right:0;bottom:40px;padding:20px;overflow-x:hidden;overflow-y:scroll;}
.welcome{padding-top:150px;font-size:24px;background:#fff;text-align:center;}

/* header */
.header{color:#fff;background:#2054a8;box-shadow:0 0 10px 3px rgba(0,0,0,.1);}
.header .logo{height:70px;overflow:hidden;}
.header .logo a{display:inline-block;padding-left:70px;line-height:70px;font-size:24px;font-weight:700;background:url(../images/logo.png) no-repeat 30px 50%;}
.header .logo a:hover{text-shadow:0 0 5px #000;}
.header .user{position:absolute;top:20px;right:20px;line-height:34px;}
.header .user li{float:left;}
.header .user span{margin-right:20px;}
.header .user i{padding:0 10px;}
.header .user a{display:inline-block;padding:0 8px;border-radius:3px;}
.header .user a:hover,
.header .user .on{background-color:#4f90d4;}
.header .user .ico{margin-right:4px;height:34px;padding:0;vertical-align:top;}
.header a{color:#fff;}

/* footer */
.footer{position:absolute;right:30px;bottom:10px;}

/* menu */
.menu{height:50px;line-height:50px;padding-left:230px;background-color:#4f90d4;}
.menu .item{float:left;}
.menu .hd a{display:inline-block;padding:0 30px;font-size:18px;vertical-align:top;}
.menu .hd a.on,
.menu .hd a:hover{background-color:#1f54a7;}
.menu .bd{display:none;}
.menu .bd{position:absolute;top:120px;left:0;bottom:0;width:230px;background:#eef3f6;overflow:hidden;overflow-y:auto;}
.menu .bd .ico-right{position:absolute;top:50%;right:15px;margin-top:-15px;cursor:pointer;}
.menu .bd dl{position:relative;margin-bottom:1px;}
.menu .bd dl:hover dt{background-color:#fff;}
.menu .bd dt{position:relative;height:52px;line-height:52px;font-size:16px;overflow:hidden;}
.menu .bd dt a:hover{background-color:#fff;}
.menu .bd dd{display:none;line-height:30px;}
.menu .bd dd a{margin-bottom:1px;padding:5px 0 5px 35px;white-space:nowrap;}
.menu .bd dd a:hover{background:#4f90d4;color:#fff;}
.menu .bd dd .ico{margin-right:5px;vertical-align:top;}
.menu .bd a{display:block;padding:0 20px;color:#5f7e9b;}
.menu .bd a:hover{color:#5f7e9b;}
.menu .bd .expand dt{background:#fff;}
.menu .bd .expand dd{display:block;}
.menu .bd .expand .current{background:#4f90d4;color:#fff;}
.menu .active .bd{display:block;}
.menu .active .hd a{background:#1f54a7;}
.menu .bd .ico{vertical-align:middle;}
.menu .bd .ico1{background-position:0px -34px;}
.menu .bd .ico2{background-position:-19px -34px;}
.menu .bd .ico3{background-position:-39px -34px;}
.menu .bd .ico4{background-position:-59px -34px;}
.menu .bd .ico5{background-position:-79px -34px;}
.menu .bd .ico6{background-position:-99px -34px;}
.menu .bd .ico7{background-position:-119px -34px;}
.menu .bd .ico8{background-position:-139px -34px;}
.menu .bd .ico9{background-position:-159px -34px;}
.menu .bd .ico10{background-position:-179px -34px;}
.menu .bd .ico11{background-position:-199px -34px;}
.menu .bd a:hover .ico1,
.menu .bd .current .ico1{background-position:0 -63px;}
.menu .bd a:hover .ico2,
.menu .bd .current .ico2{background-position:-19px -63px;}
.menu .bd a:hover .ico3,
.menu .bd .current .ico3{background-position:-39px -63px;}
.menu .bd a:hover .ico4,
.menu .bd .current .ico4{background-position:-59px -63px;}
.menu .bd a:hover .ico5,
.menu .bd .current .ico5{background-position:-79px -63px;}
.menu .bd a:hover .ico6,
.menu .bd .current .ico6{background-position:-99px -63px;}
.menu .bd a:hover .ico7,
.menu .bd .current .ico7{background-position:-119px -63px;}
.menu .bd a:hover .ico8,
.menu .bd .current .ico8{background-position:-139px -63px;}
.menu .bd a:hover .ico9,
.menu .bd .current .ico9{background-position:-159px -63px;}
.menu .bd a:hover .ico10,
.menu .bd .current .ico10{background-position:-179px -63px;}
.menu .bd a:hover .ico11,
.menu .bd .current .ico11{background-position:-199px -63px;}

/* crumbs */
.crumbs{margin-bottom:20px;padding:10px 30px;color:#888;background-color:#fff;box-shadow:0 2px 5px rgba(0,0,0,.1);}
.crumbs a:hover{text-decoration:underline;color:#f00;}

.layer-msg{width:538px;padding:60px 0;text-align:center;box-shadow:0 0 5px rgba(0,0,0,.1);background-color:#fff;border:1px solid #ddd\9;display:none;}
.layer-msg .ico{width:44px;height:44px;margin-right:10px;vertical-align:top;background-image:url(../images/common.png)}
.layer-msg .ico-success{background-position:0 50%}
.layer-msg .ico-warning{background-position:-44px 50%}
.layer-msg .ico-box{background-position:-88px 50%}
.layer-msg .hd{margin-bottom:26px;font-size:24px;line-height:44px;}
.layer-msg .hd span{display:inline-block;vertical-align:top;line-height:1.2;}
.layer-msg .bd{margin-top:16px;color:#666;}
.layer-msg .bd .ipt{width:350px;}
.layer-msg .error{position:absolute;bottom:10px;left:0;right:0;text-align:center;color:#f00;line-height:40px;}
.layer-msg .ft{margin-top:40px;}
.layer-msg .ft .ubtn{margin:0 5px;}

/* c-form */
.c-form{position:relative;padding:35px 15px;}
.c-form .item{position:relative;margin-bottom:20px;padding-left:140px;}
.c-form .txt{position:absolute;top:0;left:0;width:130px;line-height:34px;text-align:right;white-space:nowrap;}
.c-form .txt i{margin-right:6px;color:#d74141;vertical-align:middle;font:700 14px tahoma;}
.c-form .val{min-height:34px;line-height:32px;}
.c-form .val em{color:#e33737;}
.c-form .cnt{position:relative;min-height:34px;line-height:34px;margin-bottom:10px;}
.c-form .cnt em{margin:0 4px;}
.c-form .slt{width:298px;height:34px;}
.c-form .ipt{width:280px;vertical-align:top;}
.c-form .ipt-short{width:80px;}
.c-form .ipt-mul{height:80px;vertical-align:top;}
.c-form .msg-box{display:inline-block;line-height:28px;margin-left:6px;padding:3px 5px;color:#d74141;white-space:nowrap;vertical-align:top;}
.c-form .ft{margin:30px 0 0 140px;}
.c-form .ft .ubtn{margin-right:10px;min-width:80px;}
.c-form .tips{margin-left:10px;color:#999;}
.c-form .cbxs label{margin-right:15px;white-space:nowrap;}
/* form */
.form{padding:35px 0;overflow:hidden;*zoom:1;}
.form .item{position:relative;margin-bottom:15px;line-height:34px;}
.form .txt{position:absolute;top:0;left:0;width:70px;text-align:right;white-space:nowrap;}
.form .cnt{position:relative;margin-left:80px;}
.form .ipt,
.form .slt{width:100%;height:34px;vertical-align:top;position:relative;background:none;}
.form .ipt-short{width:80px;}
.form .ipt-mul{height:60px;vertical-align:top;}
.form .msg-box{position:absolute;top:0;right:19px;color:#d74141;font-size:12px;}
.form .ft{clear:both;padding:20px 0;text-align:right;}
.form .ft .ubtn{margin-left:10px;}
.form .cbxs label{margin-right:15px;white-space:nowrap;}
.form .title{margin-bottom:20px;padding-bottom:10px;line-height:20px;font-size:16px;border-bottom:1px solid #ddd;}
.form .title:before{content:'';display:inline-block;width:5px;height:20px;margin-right:10px;background:#4f90d4;vertical-align:middle;border-radius:3px;}
.layer-form{padding:20px 38px;display:none;}
.layer-form .cbx{float:left;width:33%;margin-bottom:20px;text-indent:20px;line-height:1;white-space:nowrap;}
.layer-form-extra .txt{width:140px;}
.layer-form-extra .cnt{margin-left:150px;}


/* 气泡式弹出层组件 */
.notify-wrapper{position:fixed;top:20px;right:0;z-index:2147483641;max-width:320px;}   
.notify-wrapper .message{min-width:200px;margin:10px;padding:16px 20px;border-radius:3px;display:none;box-shadow:0 2px 5px rgba(0, 0, 0, 0.4);} 
.notify-wrapper .hidable{cursor:pointer;} 
.notify-wrapper .title{font-size:16px;}
.is-primary{color:#fff;background:#373d41;}
.is-info{color:#fff;background:#00c0ef;}
.is-success{color:#fff;background:#6cc788;}
.is-warning{color:#fff;background:#f39c12;}
.is-danger{color:#fff;background:#f56954;}

/* box */
.box{margin-top:20px;padding:20px 29px 40px 29px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.1);background-color:#fff;border:1px solid #ddd\9;}
.box .tit{text-align:center;padding:15px 0;font-size:20px;}
.box .print .ubtn{width:85px;line-height:30px;}
.box-mini{max-width:1200px;margin:20px auto;padding:20px 29px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.1);background-color:#fff;border:1px solid #ddd\9;}
.box-mini .tit{text-align:center;padding:15px 0;font-size:20px;}
.box-mini .info{font-size:16px;line-height:30px;overflow:hidden;}
.box-mini .info .date{float:right;text-align:right;}
.box-mini .info .fridgecode .img{display:block;margin-top:4px;border:1px solid #ddd;}


/* filter */
.filter{margin:0 -5px;overflow:hidden;}
.filter:after{content:'';display:block;clear:both;height:9px;margin:0 5px;border-bottom:1px solid #ddd;}
.filter .for,.filter i{display:inline-block;line-height:30px;vertical-align:top;}
.filter .ipt, .filter .slt, .filter .ubtn, .filter .for{margin:0 5px;vertical-align:top;}
.filter .ubtn{min-width:85px;}
.filter .ipt, .filter .slt{width:15%!important;}
.filter .group{float:left;width:20%;margin:0 20px 15px 5px;padding-left:100px;position:relative;}
.filter .group label{position:absolute;top:0;left:0;width:84px;text-align:right;white-space:nowrap;}
.filter .group2{width:40%;}
.filter .group2 .date{width:45%!important;}
.filter .group9{padding:0;width:auto;}
.filter em{display:block;line-height:30px;margin-left:5px;font-size:16px;}
.filter em:before{content:'';display:inline-block;width:6px;height:16px;margin-right:10px;background:#4f90d4;border-radius:3px;vertical-align:middle;}
.filter-res .ipt, .filter-res .slt{width:100%!important;margin:0;}
.filter-res .ubtn{margin:0 10px 0 0;}


/* table */
.table{margin-top:15px;}
.table .caption{margin-bottom:16px;font-size:16px;}
.table .caption em{color:#007eff;}
.table .caption i{color:#f8503f;}
.table .caption span:before{content:'';display:inline-block;width:6px;height:16px;margin-right:10px;background:#4f90d4;border-radius:3px;vertical-align:middle;}
.table table{border:1px solid #ddd;}
.table th{font-weight:400;background:#f8f8f8;}
.table th,
.table td{height:24px;padding:8px;border:1px solid #ddd;}
.table tr:hover td{background:#f1faff;}
.table .tc th{text-align:center;}
.table .tl{text-align:left!important;}
.table .cbx{vertical-align:middle;}
.table .ubtn{min-width:auto;line-height:24px;margin:0 3px;}
.table .gray{background:#d5d5d5;color:#888;}
.table .empty{height:80px;text-align:center;}
.table .pic{display:none;}
.table .pic td{padding:15px;background:#f8f8f8!important;text-align:left;}
.table .pic ul{overflow:hidden;*zoom:1;}
.table .pic li{position:relative;float:left;width:180px;height:100px;padding:3px;margin:0 12px 12px 0;border:1px solid #ebebeb;border-radius:3px;background:url(../images/thumb.png) no-repeat 50% 50%;}
.table .pic li:hover{border-color:#00cccb;}
.table .pic img{width:180px;height:100px;}
.operate{margin-top:20px;overflow:hidden;*zoom:1;}

/* jquery.pagination */
.pagination{float:right;line-height:30px;}
.pagination .p-size{float:left;padding-right:10px;}
.pagination .p-num{float:right;}
.pagination .p-num a,
.pagination .p-num .current{display:inline-block;min-width:22px;margin:0 2px;padding:3px;font:12px/22px tahoma;border:1px solid #ddd;background:#fff;text-align:center;border-radius:2px;vertical-align:top;}
.pagination .p-num .current{color:#fff;border-color:#4f90d4;background:#4f90d4;}
.pagination .p-num a:hover{border-color:#4f90d4;color:#4f90d4;}

/*分页*/
.pagination{margin:10px 0;line-height:26px;text-align:right;overflow:hidden;}
.pagination li{display:inline-block;margin:0 2px 5px;}
.pagination a{display:inline-block;min-width:18px;padding:3px;font:12px/1.5 tahoma;border:1px solid #ccc;background:#fff;text-align:center;border-radius:2px;vertical-align:top;cursor:pointer;}
.pagination a:hover{border-color:#009bff;color:#009bff;}
.pagination .active a{color:#fff;border-color:#009bff;background:#009bff;}
.pagination .disabled a{color:#ccc;border-color:#ccc;cursor:default;}
.pagination .ipt{height:20px;line-height:20px;margin:0 2px;border-radius:2px;}
.pagination .skip{background:#fff;color:#333;border:1px solid #ccc;width:40px;height:26px;border-radius:2px;cursor:pointer;}
.pagination .skip:hover{background:#009bff;color:#fff;border-color:#009bff;}

/* scan */
.scan .tools{margin-bottom:20px;text-align:center;}
.scan .tools .ubtn{margin:0 4px;padding:0 20px;}
.scan .main{width:620px;height:750px;margin:0 auto;background:#d2d2d2;}
.scan .side{position:fixed;top:120px;left:0;bottom:0;width:230px;background:#eef3f6;overflow:hidden;overflow-y:auto;}
.scan .side .group{width:160px;margin:10px auto 20px;}
.scan .side .file{position:relative;height:200px;background:#dcdcdc url(../images/camera_bg.png) no-repeat 50% 50%;overflow:hidden;}
.scan .side .file .upfile{position:absolute;bottom:0;right:0;width:999px;height:999px;font-size:999px;border:99em solid #fff;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
.scan .side .file em{display:block;text-align:center;line-height:200px;font-size:24px;}
.scan .side .files{height:200px;background:#dcdcdc;}
.scan .side .active{background-color:#1abc9c;color:#fff;}
.scan .side .select{width:138px;margin:10px auto 0;text-align:center;}
.scan .side .select .slt{width:100%;}

/* spinner  */
.spinner{position:fixed;top:50%;left:50%;width:80px;height:80px;font:12px/120px '';margin:-40px 0 0 -40px;background:#2f3b4c url(../images/spinner.gif) no-repeat 50% 40%;background-color:rgba(47,59,76,.9);color:#fff;text-align:center;border-radius:5px;}

/* ztree */
.ztree-tit{position:relative;margin-top:15px;line-height:38px;border:1px solid #ddd;border-bottom:0;background-color:#f8f8f8;}
.ztree-tit:before{content:'';display:inline-block;width:80px;height:38px;margin-right:56px;border-right:1px solid #ddd;vertical-align:top;}
.ztree-tit .col2{position:absolute;top:0;left:50%;padding-left:56px;border-left:1px solid #ddd;}
.box .ztree2 li .col1{position:absolute;top:0;left:0;width:80px;height:14px;padding:12px 0;text-align:center;border-right:1px solid #ddd;line-height:1;}
.box .ztree2 li .col2{position:absolute;top:0;left:50%;padding-left:56px;border-left:1px solid #ddd;}
.box .ztree2{padding:0;border:1px solid #ddd;border-top:0;}
.box .ztree2 ul{padding:0;background:#fff;}
.box .ztree2 li:hover{background:#f1faff;}
.box .ztree2 li {position:relative;padding:0 0 0 80px;line-height:38px;border-top:1px solid #ddd;}
.box .ztree2 li a{height:auto;}
.box .ztree2 li a.curSelectedNode{height:auto;border:0;background:none;opacity:1;}
.box .ztree2 li .chk {position:absolute;top:12px;left:33px;}
.box .ztree2 li.level0{padding-left:110px;}
.box .ztree2 li.level0 ul{margin-left:-110px;}
.box .ztree2 li.level1{padding-left:130px;}
.box .ztree2 li.level1 ul{margin-left:-130px;}
.box .ztree2 li.level2{padding-left:150px;}
.box .ztree2 li.level2 ul{margin-left:-150px;}
.box .ztree2 li.level3{padding-left:170px;}
.box .ztree2 li.level3 ul{margin-left:-170px;}

/*设置角色*/
.mul-select{padding-top:20px;overflow:hidden;}
.mul-select .col{float:left;width:40%;}
.mul-select .btn{float:left;width:20%;padding-top:80px;text-align:center;}
.mul-select .ubtn{display:block;width:110px;margin:0 auto 10px;}
.mul-select ul{height:330px;background:#e5e6e6;border-top:2px solid #ddd;border-radius:4px;overflow:hidden;overflow-y:auto;}
.mul-select li{padding:9px;cursor:pointer;}
.mul-select li:hover{background:#f1faff;}
.mul-select li.on{background:#f1faff;}