<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
	default-lazy-init="false">
	<!--db rpc -->
	<bean id="thriftZookeeperDb" class="com.igool.thrift.rpc.zookeeper.ZookeeperFactory"
		  destroy-method="close">
		<property name="zkHosts"
				  value="${zk.hostaddress}" />
		<property name="namespace" value="com.igool.db.thrift.rpc" />
		<property name="connectionTimeout" value="3000" />
		<property name="sessionTimeout" value="3000" />
		<property name="singleton" value="true" />
	</bean>

	<bean id ="testServerAddressProviderZookeeper" class="com.igool.thrift.rpc.zookeeper.ThriftServerAddressProviderZookeeper"
		  p:service="com.igool.file.service.thrift.TestService" p:version="1.0.0" p:zkClient-ref="thriftZookeeperDb"
	/>

	<bean id="clientService" class="com.igool.thrift.rpc.ThriftClientProxy"
		  p:serverAddressProvider-ref="testServerAddressProviderZookeeper"  p:clientManager-ref="thriftClientMan"
	/>

    <bean id="imagePhotoService" class="com.igool.thrift.rpc.ThriftServiceClientProxyFactory" destroy-method="close">
        <property name="serverAddressProvider">
            <bean class="com.igool.thrift.rpc.zookeeper.ThriftServerAddressProviderZookeeper">
                <property name="service" value="com.igool.rpc.db.service.thrift.ImagePhotoRefService" />
                <property name="version" value="1.0.0" />
                <property name="zkClient" ref="thriftZookeeperDb" />
            </bean>
        </property>
        <property name="clientManager" ref="thriftClientMan"/>
    </bean>


    <!--rpc-->

	<bean id="thriftZookeeper" class="com.igool.thrift.rpc.zookeeper.ZookeeperFactory"
		  destroy-method="close">
		<property name="zkHosts"
				  value="${zk.hostaddress}" />
		<property name="namespace" value="com.igool.thrift.rpc" />
		<property name="connectionTimeout" value="3000" />
		<property name="sessionTimeout" value="3000" />
		<property name="singleton" value="true" />
	</bean>

	<bean id="idService" class="com.igool.thrift.rpc.ThriftServiceClientProxyFactory" destroy-method="close">
		<property name="serverAddressProvider">
			<bean class="com.igool.thrift.rpc.zookeeper.ThriftServerAddressProviderZookeeper">
				<property name="service" value="com.igool.id.service.thrift.IdGenerateService" />
				<property name="version" value="1.0.0" />
				<property name="zkClient" ref="thriftZookeeper" />
			</bean>
		</property>
		<property name="clientManager" ref="thriftClientMan"/>
	</bean>

	<bean id="thriftClientMan" class="com.facebook.swift.service.ThriftClientManager"/>
</beans>