@charset "utf-8";
html,body{height:100%;}
body{background:#f8f8f8;color:#333;font:14px/1.5 arial,tahoma;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body,p,dl,dt,dd,ul,ol,hr{margin:0;}
h1,h2,h3,h4{margin:0;font-size:100%;font-weight:400;}
ul,ol{padding:0;list-style:none;}
a{color:#333;text-decoration:none;}
input,button,textarea,select{font-size:100%;border:none;outline:none;resize:none;}
input[readonly]{background-color:#eee;}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0;text-align:left;}
th{text-align:left;}
address,cite,dfn,em,i,strong{font-style:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
::-ms-clear,::-ms-reveal{display:none;}

::-webkit-scrollbar { width: 14px; height: 14px; }
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb { border-radius: 999px; border: 5px solid transparent; }
::-webkit-scrollbar-track { box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset; }
::-webkit-scrollbar-thumb { min-height: 20px; background-clip: content-box; box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset; background-color: rgba(80, 102, 127, 0.7); }
::-webkit-scrollbar-corner { background: transparent; }

.ipt,.ubtn,.slt{border-radius:3px;}

/* button */
.ubtn{display:inline-block;min-width:120px;line-height:44px;padding:0 8px;text-align:center;cursor:pointer;border:0;transition:all .2s;white-space:nowrap;}
.ubtn:hover{opacity:.9;filter:alpha(opacity=90);box-shadow:inset 0 0 100px rgba(0,0,0,0.2);}
.ubtn-primary{background-color:#4778c7;color:#fff;}
.ubtn-primary:hover{background-color:#78a7ff;}
.ubtn-cyan{background-color:#26b99a;color:#fff;}

.slt,.ipt,.keyboard{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;}

/* layout */
.cf{*zoom:1;}
.cf:after{content:"";display:block;height:0;clear:both;overflow:hidden}
.fr{float:right;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.hide{display:none;}
.slt,.ipt{height:44px;line-height:24px;padding:6px;border:1px solid #ddd;font-size:14px;background-color:#fff;}
.ipt{transition:border-color .3s;}
.ipt{transition:border-color .3s;}
.ipt:focus{border-color:#03a9f4;}
.ipt:disabled{background:#ededed;color:#999;}

/* header */
.header{height:90px;line-height:90px;color:#fff;background:#2054a8;box-shadow:0 0 5px rgba(0,0,0,.3);}
.header .logo{padding:0 60px 0 80px;font-size:34px;color:#fff;background:url(../images/logo.png) no-repeat 30px 50%;}

/* footer */
.footer{position:absolute;bottom:0;left:0;right:0;padding:10px 0;font-size:14px;color:#5a738e;text-align:center;overflow:hidden;background:#f8f8f8;}

/* box */
.content{padding:20px;position:absolute;top:90px;left:0;right:0;bottom:50px;overflow:hidden;overflow-y:auto;}

/* filter */
.filter{margin-bottom:20px;}
.filter .for{display:inline-block;line-height:44px;margin:0 5px;font-size:16px;vertical-align:top;}
.filter .ipt{width:330px;margin:0 5px;vertical-align:top;}
.filter .slt{height:44px;min-width:100px;margin:0 5px;vertical-align:top;}
.filter .item{position:relative;margin-bottom:10px;padding-left:90px;}
.filter .item:last-child{text-align:center;padding-right:96px;}
.filter .item .for{position:absolute;top:0;left:0;line-height:44px;margin:0 5px;font-size:16px;}
.filter .item .slt,
.filter .item .ipt{width:100%;height:44px;line-height:24px;margin:0;padding:6px;border:1px solid #ddd;font-size:14px;background-color:#fff;}
.filter .item .ubtn{margin:0 5px;}
.keyboard{padding:6px 6px;border:1px solid #ddd;background:#fff;display:block;text-align:center;border-top:0;font-size:0;padding-right:96px;}
.keyboard button{width:90px;height:60px;margin:5px;background:#d2d2d2;color:#fff;padding:0;vertical-align:top;font-size:30px;border-radius:3px;box-shadow:1px 1px 1px rgba(0,0,0,.6)}
.keyboard button:active{background:#4f90d4;}

.tips{padding-top:60px;color:#5a738e;font-size:16px;line-height:2.4;}
.qrcode{padding-top:100px;line-height:1.5;overflow:hidden;*zoom:1;}
.qrcode .cnt{float:left;width:50%;text-align:center;}
.qrcode .cnt img{display:block;width:200px;margin:10px auto;max-width:100%;}


/*tab*/
.tab{background:#e5e5e5;;border-radius:4px;overflow:hidden;*zoom:1;white-space:nowrap;overflow-x:auto;}
.tab span{display:inline-block;width:180px;line-height:56px;font-size:20px;color:#666;cursor:pointer;text-align:center;}
.tab .active{color:#fff;background:#4f90d4;border-radius:4px;}
.tabcont{line-height:50px;font-size:14px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2);}
.tabcont .item{padding:20px;display:none;}
.tabcont .item:nth-child(1){display:block;}
.tabcont .item .for{display:inline-block;}
.tabcont .tit{position:relative;padding:20px 0;font-size:20px;line-height:1;border-bottom:1px solid #ddd;}
.tabcont .tit:before{content:'';display:inline-block;height:18px;width:5px;margin-right:6px;background:#4f90d4;vertical-align:middle;border-radius:3px;}
.tabcont .tit .pr{position:absolute;top:0;right:0;}
.tabcont .tit .form{position:absolute;top:14px;right:0;line-height:34px;}
.tabcont .tit .form .ipt{height:34px;vertical-align:top;}
.tabcont .tit .form .ubtn{height:34px;line-height:34px;vertical-align:top;font-size:16px;}

/* grid */
.grid{margin-bottom:50px;overflow:hidden;*zoom:1;}
/*.grid .row{overflow:hidden;*zoom:1;}*/
.grid .col3{float:left;width:50%;position:relative;}
.grid .col3 .for{position:absolute;top:0;left:0;width:130px;text-align:right;}
.grid .col3 span{display:block;padding-left:130px;line-height:20px;padding:15px 0 15px 130px;font-weight:700;}

/* table */
.table{margin-top:15px;}
.table .border th,
.table .border td{border:1px solid #ccc;}
.table table{border:1px solid #ccc;}
.table th,
.table td{height:24px;padding:5px;border-bottom:1px solid #ccc;text-align:center;}
.table th{padding:8px 5px;font-weight:400;background:#f8f8f8;}
.table .cbx{vertical-align:middle;}
.table .ubtn{min-width:120px;line-height:44px;margin:0 3px;}
.table .gray{background:#d5d5d5;color:#888;}
.table .empty{height:80px;text-align:center;}


/* spinner  */
.spinner{position:fixed;top:50%;left:50%;width:80px;height:80px;font:12px/120px '';margin:-40px 0 0 -40px;background:#2f3b4c url(../images/spinner.gif) no-repeat 50% 40%;background-color:rgba(47,59,76,.9);color:#fff;text-align:center;border-radius:5px;}
.select2-container--open, .spinner{z-index:298910140;}

.page2{display:none;}
/*.page1{display:none;}*/

/*detail*/
.page2{padding:20px;font-size:18px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2);}
.detail{margin-top:20px;}
.detail .tit{padding:20px 0;font-size:20px;line-height:1;border-bottom:1px solid #ddd;}
.detail .tit:before{content:'';display:inline-block;height:18px;width:5px;margin-right:6px;background:#4f90d4;vertical-align:middle;border-radius:3px;}
.detail .info{line-height:50px;border-bottom:50px;}
.detail .thumb{margin-top:20px;overflow:hidden;*zoom:1;}
.detail .thumb .item{float:left;width:33%;margin-bottom:40px;padding-top:16%;text-align:center;position:relative;font-size:16px;}
.detail .thumb .res{position:absolute;top:0;left:20px;right:20px;bottom:40px;padding:5px;border:1px solid #ddd;}
.detail .thumb .res:after{content:'';display:inline-block;height:100%;width:0;overflow:hidden;vertical-align:middle;}
.detail .thumb img{max-width:100%;max-height:100%;vertical-align:middle;}


/* model */
.model-mask{position:fixed;top:0;left:0;right:0;bottom:0;z-index:998;background:#000;opacity:0.5;filter:alpha(opacity=50);}
.model{position:fixed;top:0;left:0;width:540px;background:#fff;z-index:999;}
.model .cont{padding:160px 20px 40px;font-size:24px;background:url(../images/warning.png) no-repeat 50% 80px;text-align:center;color:#666;}
.model .pic{position:absolute;top:100px;left:80px;right:80px;bottom:100px;text-align:center;overflow:hidden;}
/*.model .pic:after{content:'';display:inline-block;height:100%;width:0;overflow:hidden;vertical-align:middle;}*/
/*.model .pic img{max-width:100%;max-height:100%;vertical-align:middle;}*/
.model .close{position:absolute;top:10px;right:10px;width:44px;height:44px;background:url(../images/times.png);}


.model ul{position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:translate3d(0px, 0px, 0px);transform:translate3d(0px, 0px, 0px);}
.model li{position:absolute;left:0;top:0;width:100%;height:100%;}
.model li:first-child{z-index:1;}
.model li:after{content:'';display:inline-block;height:100%;width:0;overflow:hidden;vertical-align:middle;}
.model li img{max-width:100%;max-height:100%;vertical-align:middle;}
/*.model li img{position:absolute;left:50%;top:50%;max-width:100%;max-height:100%;border:none;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}*/

.layui-layer .layui-layer-setwin .layui-layer-close2{width:44px;height:44px;background:url(../images/times.png)!important;right:0;top:0;}
.layui-warning{padding:160px 20px 40px;font-size:24px;background:url(../images/warning.png) no-repeat 50% 80px;text-align:center;color:#666;}
.layui-custom .layui-layer-btn{text-align:center;padding-bottom:30px;}
.layui-custom .layui-layer-btn a{padding:5px 30px;margin:0 35px;}
.layui-custom .tit{padding-top:20px;font-size:24px;line-height:70px;text-align:center;}
.layui-custom .tit .i{display:inline-block;width:44px;height:44px;margin-right:20px;background:url(../images/warning2.png) no-repeat 0 50%;vertical-align:middle;}
.layui-custom .text{padding:20px;font-size:16px;}

.lb-turn-left,.lb-turn-right{display:inline-block;width:80px;height:80px;margin:0 20px;background:url(../images/turn.png) no-repeat;border-radius:4px;cursor:pointer;border:0;vertical-align:middle;}
.lb-turn-right{background-position:-80px 50%;}
.lb-turn-left{background-position:-1px 50%;}
.lb-op{position:absolute;bottom:10px;left:0;right:0;text-align:center;}


.print{}
.print .tit{padding:20px;font-size:30px;text-align:center;}
.print .hd{padding:30px 0;font-weight:700;overflow:hidden;*zoom:1;}
.print .hd span{float:left;width:33.333%;}
.print .bd{line-height:50px;font-size:0;overflow:hidden;*zoom:1;}
.print .bd dt{font-size:14px;}
.print .bd dd{position:relative;display:inline-block;width:33%;vertical-align:top;font-size:14px;}
.print .bd .row{width:66%;}
.print .bd .for{position:absolute;top:0;left:0;width:130px;text-align:right;}
.print .bd span{display:block;padding-left:130px;line-height:20px;padding:15px 0 15px 130px;font-weight:700;}