<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2010-2013 the original author or authors. Licensed under the
	Apache License, Version 2.0 (the "License"); you may not use this file except
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
	Unless required by applicable law or agreed to in writing, software distributed
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.igool.rpc.db.mysql.mapper.VehicleMapper">

    <resultMap id="findRegisterMap" type="com.igool.rpc.db.model.thrift.FindRegister">

    </resultMap>
    <insert id="addVehicleOperator" parameterType="com.igool.rpc.db.model.thrift.VehicleOperator">
        insert into t_da_vehicle_operator(sfz,company,czlx,dycl,create_time)
        VALUES (#{sfz},#{company},#{czlx},#{dycl},now())
    </insert>
    <select id="getFindRegisterByTypeAndStr" resultMap="findRegisterMap">
        select id as id,
        user_id as userId,
        date_format(create_time,'%Y-%m-%d %h:%i:%s') as createTime,
        unit_name as unitName,
        let_sfz as letSfz,
        type as type,
        car_sfz as carSfz,
        hphm as hphm,
        hpzl as hpzl
        from t_da_find_register
        where let_sfz=#{str}
    </select>
</mapper>